<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="VideoKyc">
	<listeners>
		<listener class-name="com.vKyc.Utilities.Reporting" />
	</listeners>
  
  <test name="vKycLogin" enabled="false">
         <parameter name="browser" value="chrome" />
           <classes>
           <class name="com.vKyc.Testcases.TC_Login">
           </class>
           </classes>
  </test>
       
  <test name="vKycProcess1" enabled="true">
         <parameter name="browser" value="chrome" />
           <classes>
           <class name="com.vKyc.Testcases.TC_VideoKyc">
           </class>
           </classes>
  </test>
  
  <test name="vKycProcess2" enabled="true">
         <parameter name="browser" value="chrome" />
           <classes>
           <class name="com.vKyc.Testcases.TC_VideoKycForRejectCase">
           </class>
           </classes>
  </test>
  
   <test name="vKycProcess3" enabled="true">
         <parameter name="browser" value="chrome" />
           <classes>
           <class name="com.vKyc.Testcases.TC_VideokycForReAssignCase">
           </class>
           </classes>
  </test>
  
  <test name="vPdProcess" enabled="true">
         <parameter name="browser" value="chrome" />
           <classes>
           <class name="com.vKyc.Testcases.TC_VPD">
           </class>
           </classes>
  </test>
  
    <test name="rescheduleProcess" enabled="true">
         <parameter name="browser" value="chrome" />
           <classes>
           <class name="com.vKyc.Testcases.TC_RescheduleVKyc">
           </class>
           </classes>
  </test>
       
</suite>